<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glew-2.2.0" version="2.2.0.1" targetFramework="native" />
  <package id="glfw" version="3.3.7" targetFramework="native" />
  <package id="Microsoft.Azure.Kinect.BodyTracking" version="1.1.1" targetFramework="native" />
  <package id="Microsoft.Azure.Kinect.BodyTracking.ONNXRuntime" version="1.10.0" targetFramework="native" />
  <package id="Microsoft.Azure.Kinect.Sensor" version="1.4.1" targetFramework="native" />
  <package id="opencv3.1" version="1.0" targetFramework="native" />
  <package id="opencv3.1.redist" version="1.0" targetFramework="native" />
  <package id="opencv3.1.symbols" version="1.0" targetFramework="native" />
</packages>